@charset "UTF-8";
/* FONTS*/
@font-face {
  font-family: "LeferiPoint-SpecialItalicA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden;
}

/* COMMON */
section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
section header {
  width: 100%;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 3vh 3vw;
}
section header a {
  font: bold 2.5vw "PyeongChangPeace-Bold";
  color: white;
}
section .scroll_1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #E16262;
  overflow: hidden;
  transition: 1s;
  font-family: "LeferiPoint-SpecialItalicA";
}
section .scroll_1 .slide {
  display: flex;
  position: absolute;
}
section .scroll_1 .slide:nth-of-type(1) {
  top: calc(20vh - 25px);
}
section .scroll_1 .slide:nth-of-type(2) {
  top: calc(40vh - 25px);
}
section .scroll_1 .slide:nth-of-type(3) {
  top: calc(60vh - 25px);
}
section .scroll_1 .slide:nth-of-type(4) {
  top: calc(80vh - 25px);
}
section .scroll_1 .slide.on.slide_L .scroll_wrap.roller_1 {
  animation: 20s linear 0s infinite normal forwards running rollingleft1;
}
section .scroll_1 .slide.on.slide_L .scroll_wrap.roller_2 {
  animation: 20s linear 0s infinite normal none running rollingleft2;
}
section .scroll_1 .slide.on.slide_R .scroll_wrap.roller_1 {
  animation: 17s linear 0s infinite normal none running rollingright1;
}
section .scroll_1 .slide.on.slide_R .scroll_wrap.roller_2 {
  animation: 17s linear 0s infinite normal forwards running rollingright2;
}
section .scroll_1 .slide .scroll_wrap {
  will-change: transform;
  white-space: nowrap;
}
section .scroll_1 .slide .scroll_wrap > span {
  font-size: 3vw;
  word-spacing: 20px;
  letter-spacing: 5px;
}
section .scroll_1 .middle {
  width: 100%;
  position: absolute;
  top: calc(50vh - 40px);
  text-align: center;
  font-size: 6vw;
  font-weight: bold;
  transition: 0.1s;
}
@keyframes rollingright1 { /* 원본용 */
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes rollingright2 { /* 클론용 */
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  50.01% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes rollingleft1 { /* 원본용 */
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rollingleft2 { /* 클론용 */
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
section .scroll_2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FABC60;
  opacity: 0;
}
section .scroll_2 > div {
  display: flex;
  position: absolute;
  left: 0;
}
section .scroll_2 > div:nth-of-type(1) {
  top: 20%;
}
section .scroll_2 > div:nth-of-type(2) {
  top: 40%;
}
section .scroll_2 > div:nth-of-type(3) {
  top: 60%;
}
section .scroll_2 > div > * {
  font: 6vw "LeferiPoint-SpecialItalicA";
  color: white;
  margin-left: 1.7vw;
}
section .scroll_2 > div > *.word4 {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
section .scroll_2 > div > *.word4 li {
  display: inline-block;
}
section .scroll_2 > div > *.word4 .line {
  width: 0px;
  height: 1vw;
  background-color: white;
  position: absolute;
  bottom: 15%;
  opacity: 0.5;
}
section .scroll_3 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #3A9679;
  opacity: 0;
}
section .scroll_3 .container {
  width: 100%;
  position: absolute;
}
section .scroll_3 .container > div {
  display: flex;
}
section .scroll_3 .container > div > div {
  font: 6.5vw "LeferiPoint-SpecialItalicA";
  color: white;
  margin-left: 2vw;
  opacity: 0;
}
section .scroll_3 .container > div > div.w3, section .scroll_3 .container > div > div.w6 {
  animation: 1s rainbow infinite;
}
section .scroll_4 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
section .scroll_4 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
section .scroll_4 .main_title {
  width: 100%;
  position: absolute;
  top: 12%;
  left: 0;
  text-align: center;
  font: bold 4.5vw/1 "LeferiPoint-SpecialItalicA";
  color: white;
  text-shadow: 3px 3px 3px black;
}
section .scroll_4 .article_wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -40%);
  justify-content: space-evenly;
}
section .scroll_4 .article_wrapper article {
  width: 25%;
  height: 60vh;
  padding: 0.5vw;
}
section .scroll_4 .article_wrapper article.article_1 {
  background-color: #E16262;
}
section .scroll_4 .article_wrapper article.article_1 a {
  color: #E16262;
}
section .scroll_4 .article_wrapper article.article_2 {
  background-color: #FABC60;
}
section .scroll_4 .article_wrapper article.article_2 a {
  color: #FABC60;
}
section .scroll_4 .article_wrapper article.article_3 {
  background-color: #3A9679;
}
section .scroll_4 .article_wrapper article.article_3 a {
  color: #3A9679;
}
section .scroll_4 .article_wrapper article .inner {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "LeferiBaseType-RegularA";
}
section .scroll_4 .article_wrapper article .inner .article_image {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
section .scroll_4 .article_wrapper article .inner .article_image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
section .scroll_4 .article_wrapper article .inner .article_content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 30vh;
}
section .scroll_4 .article_wrapper article .inner .article_content h2, section .scroll_4 .article_wrapper article .inner .article_content h3 {
  text-align: center;
  letter-spacing: 5px;
}
section .scroll_4 .article_wrapper article .inner .article_content h2 {
  font-size: 2vw;
}
section .scroll_4 .article_wrapper article .inner .article_content h3 {
  font-size: 1.2vw;
  font-style: italic;
}
section .scroll_4 .article_wrapper article .inner .article_content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5% 10%;
  font-size: 0.9vw;
  color: #999;
}
section .scroll_4 .article_wrapper article .inner .article_content ul li {
  margin-bottom: 0.5vh;
}
section .scroll_4 .article_wrapper article .inner .article_content a {
  text-align: center;
  margin-bottom: 1vh;
  font-size: 1.2vw;
}

@keyframes rainbow {
  0% {
    color: #ff2a2a;
  }
  15% {
    color: #ff7a2a;
  }
  30% {
    color: #ffc52a;
  }
  45% {
    color: #43ff2a;
  }
  60% {
    color: #2a89ff;
  }
  75% {
    color: #202082;
  }
  90% {
    color: #6b2aff;
  }
  100% {
    color: #e82aff;
  }
}

/*# sourceMappingURL=style.css.map */
