.scroll_4 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .main_title {
        width: 100%;
        position: absolute;
        top: 8%;
        left: 0;
        text-align: center;
        font: 400 4.5vw/1 "Courgette", cursive;
        text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0, 0, 0, 0.4),
          0 9px 10px rgba(0, 0, 0, 0.15), 0 30px 10px rgba(0, 0, 0, 0.18),
          0 15px 10px rgba(0, 0, 0, 0.21);
    }

    .article_wrapper {
        display: flex;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -40%);
        justify-content: space-evenly;
        

        article {
            width: 25%;
            height: 60vh;
            padding: 5px;
            background-color: lightblue;

            .inner {
                width: 100%;
                height: 100%;
                // padding-bottom: 5px;
                background-color: white;
                font-family: 'Cafe24Oneprettynight';
                
                
                .article_image {
                    width: 100%;
                    height: 30vh;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .article_content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 30vh;

                    h2, h3 {
                        text-align: center;
                        letter-spacing: 5px;
                    }
    
                    h2 {
                        font-size: 2vw;
                    }
    
                    h3 {
                        font-size: 1.2vw;
                        font-style: italic;
                    }
        
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        padding: 0 10%;
                        font-size: 1vw;
                        color: #999;
                        
                        &.sub {
                            justify-content: space-between;
                            color: black;
                        }
                    }
                }
            }
        }
    }



}