.scroll_4 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .main_title {
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        text-align: center;
        font: bold 4.5vw/1 'LeferiPoint-SpecialItalicA';
        color: white;
        text-shadow: 3px 3px 3px black;
    }

    .article_wrapper {
        display: flex;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -40%);
        justify-content: space-evenly;     

        article {
            width: 25%;
            height: 60vh;
            padding: 0.5vw;

            &:nth-of-type(1) {
                background-color: #E16262;

                a {
                    color: #E16262;
                }
            }
            &:nth-of-type(2) {
                background-color: #FABC60;

                a {
                    color: #FABC60;
                }
            }
            &:nth-of-type(3) {
                background-color: #3A9679;

                a {
                    color: #3A9679;
                }
            }

            .inner {
                width: 100%;
                height: 100%;
                background-color: white;
                font-family: 'LeferiBaseType-RegularA';
                
                .article_image {
                    width: 100%;
                    height: 30vh;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .article_content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 30vh;

                    h2, h3 {
                        text-align: center;
                        letter-spacing: 5px;
                    }
    
                    h2 {
                        font-size: 2vw;
                    }
    
                    h3 {
                        font-size: 1.2vw;
                        font-style: italic;
                    }
        
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        padding: 1.5% 10%;
                        font-size: 0.9vw;
                        color: #999;

                        li {
                            margin-bottom: 0.5vh;
                        }
                    }
                    
                    a {
                        text-align: center;
                        margin-bottom: 1vh;
                    }
                }
            }
        }
    }



}