@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
// font-family: 'Square Peg', cursive;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background-color: aqua;  
    // height: 200000000000px;  
    // position: relative;
    // height: 100%;
}
// header
header{
    width: 100%;
    
}
header div{
 .logo{
    display: flex;
    color: blue;
    font-size: 50px;
    margin-left: 60px;
    padding: 5px;
    position: fixed;
 }
 .bars{
    // display: flex;
    color: white;
    float: right;
    font-size: 50px;
    margin-right: 50px;
    margin-top: -65px;
    padding: 5px;
    position: fixed;
   &.hide{
    opacity: 0;
   } 
 }
}

 //slide
 section{
   height: 2000000px;
    .slide_text{
        margin-top: 50px;
        width: 100%;
        position: fixed;
        height: 100%;
        font-size: 50px;
        font-family: 'Square Peg', cursive;
        display: flex;
        flex-direction: column;
        .slide{
            display: flex;
            justify-content: center;
            align-items: center;
            // opacity: 0;
            transform: translate(1500px, 0px);
            height: 130px;
            &.on {
                animation: slide linear 10s infinite;
            }
        }
        .slide_R{
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(-1500px, 0px);
            height: 130px;
      
            &.on {
                animation: slide2 linear 10s infinite;
            }
        }
        
        p:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100px;
        transition: transform linear;
        }
    }
    // 두번째 컨텐츠
    .second{
        opacity: 0;
        transition: 1s;

        &.on{
            opacity: 1;
            display: flex;
            color: white;
            left: 0%;
            font-size: 100px;
            font-family: 'Square Peg', cursive;
        }
    }

// ---------------------------

    // 이미지 테스트 통통튀기?
    .image{
        position: relative;
        img{
        width: 140px;
        animation: img linear 2s infinite;
        z-index: 3;
        }
    }
    .icon{
        background-color: orange;
        border-radius: 50%;
            width: 140px;
            height: 140px;
            animation: img2 linear 2s infinite ;          
    }
    .icon2{
        position: absolute;
        top: 30%;
        background-color: white;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        animation: img3 linear 3s infinite;
  
    }
    
}

// footer
.footer{
    position: fixed;
    display: flex;
    right: 10%;
        top: 90%;
    a{
        color: rgb(209, 209, 117);
        font-size: 40px;
        float: right;
        display: flex;
        &:hover{
            text-decoration: underline;
        }
    }

}

// ------------------------------------------------------------
// keyframes

// keyframes slide
@keyframes slide{
    100%{
        transform: translate(-1500px, 0px);
    }
}
@keyframes slide2{
   100%{
        transform: translate(1500px, 0px);
    }
}



